@charset "UTF-8";

.search-form {
	background-color: #f5f5f5;
	padding: 10px;
}

.text-search-form {
	min-width: 390px;
	height: 36px;
}
	
.search-form > select {
	height: 36px;
}

.table>tbody>tr>td>a {
	text-decoration: none;
	color: black;
}

.table>tbody>tr>td>a:hover {
	text-decoration: underline;
	color: black;
}

.lock-img {
	height: -5px;
}

.review-title {
	text-decoration: none;
	font-weight:bold;
	color: black;
}

.review-border {
	border:1px solid lightgray;
	padding:0.5em;
	display:inline-block;
	width:100%;
}

.review-subject {
	text-decoration: none;
	color: black;
	float:left;
}

.review-right {
	float:right;
}

.table.table-border.table-hover.board-table > tbody > tr > th {
	background-color: #f5f5f5;
	text-align:left;
}

.table.table-border.table-hover.board-table > tbody > tr > td {
	text-align:left;
}

.comment-textarea {
  	overflow-y: hidden;
 	resize: none;
 	padding: 1em;
 	padding-bottom: 0.2em;
 	width: 840px;
 	border-color: lightgray;
}

.comment-area {
	background-color: #f5f5f5;
	list-style:none;
	padding-right: 40px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.comment-list {
	border-bottom: 1px solid lightgray;
}

.comment-delete-btn, .comment-edit-btn {
	color:gray;
	text-decoration:none;
}

.review-area {
	background-color: #f5f5f5;
	list-style:none;
	padding:14px;
}

.review-area > li > label {
	padding:0 1em 0 0;
	min-width: 125px;
	color: gray;
	font-size:small;
	text-align:right;
}

.review-area > li > span, a {
	font-size:16px;
}

.review-area > li > hr {
	 background-color: lightgray; 
	 height: 1px; 
	 border: 0;
}

.board-write-area {
	overflow-y: hidden;
 	resize: none;
 	padding: 1em;
 	padding-bottom: 0.2em;
 	width: 100%;
 	min-height:287px;
}

.board-btn, .edit-btn, .login-btn {
	display: inline-block;
	padding: 0.75rem;
	border: none;
	text-decoration: none;
	background-color: rgb(36, 106, 127);
	color: white;
	font-size:16px;
}

.review-write-text {
	width: 85%;
	padding: 0.5rem;
	outline: none;
}

/* 로그인 CSS */

 .login-wrap {
	margin:auto;
	padding:30px;
}

.login {
	text-align:right;
}

.login-form {
	width: 250px;
	padding: 0.5rem;
	outline: none;
	margin:5px;
}

.login-btn {
	font-weight:bold;
	width: 90px;
	height: 90px;
	font-size:20px;
}

/* 메인페이지 공지사항 CSS */

.notice-box {
	padding: 20px 15px 0px;
	text-align: left;
}


.notice-top {
	padding: 3px;
}

.notice-top > a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

#notice-plus {
	float: right;
	color: lightgray;
}

.notice-hr {
	 background-color: lightgray; 
	 height: 1px; 
	 border: 0;
}

.notice-title {
	display:inline-block;
	width:200px;
	text-decoration: none;
	color: black;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

a.notice-title:hover {
	text-decoration: underline;
	color: black;
}

.notice-td {
	padding: 5px;
	vertical-align: middle;
}

.notice-date {
	color: gray;
	float: right;
	padding:5px;
}

.library-color {
	display: inline-block;
	background-color: RGB(228, 244, 243);
	padding:5px;
}